<div class="page">
  <nav class="navbar">
    <div class="row-cells first">
      <span style="font-size: 20px; user-select: none" (click)="onClickLogo()">Shopify</span>
    </div>
    <div class="row-cells last">
      <div class="cell">
        <div class="navbar-cell" (click)="onClickBucket()">
          <tui-svg src="tuiIconShoppingCartLarge"></tui-svg>
          <span style="user-select: none">Корзина</span>
        </div>
      </div>
      <div class="cell">
        <div class="navbar-cell" (click)="onClickProfile()">
          <tui-svg src="tuiIconUserLarge"></tui-svg>
          <span style="user-select: none">{{ navBarProfileName }}</span>
        </div>
      </div>
    </div>
  </nav>
  <div style="width: 100%; height: 100vh; display: flex; flex-direction: column;  align-items: center; margin-top: 10rem; gap: 25px">
  <div style="display: flex; flex-direction: row; width: 100%; align-items: center; max-width: 46rem;">
    <span class="form-label" style="margin-right: auto">Просмотр товаров</span>
  </div>
  <div style="display: flex; flex-direction: column; border: 1px solid #d7d7d7; border-radius: 24px">
    <tui-accordion class="container">
    <tui-accordion-item *ngFor="let pr of products$ | async">
      {{ pr.name }}
        <ng-template tuiAccordionItemContent>
          <tui-accordion>
            <tui-accordion-item [showArrow]="false">
              {{ pr.description }}
            </tui-accordion-item>
            <tui-accordion-item [showArrow]="false">
              {{ pr.price }}
            </tui-accordion-item>
            <tui-accordion-item [showArrow]="false">
              {{ pr.count }}
            </tui-accordion-item>
          </tui-accordion>
        </ng-template>
    </tui-accordion-item>
</tui-accordion>
  </div>
</div>
</div>
