<div class="page">
  <nav class="navbar">
    <div class="row-cells first">
      <div class="cell">
        <div class="navbar-cell" style="border-radius: 0">
          <tui-svg src="tuiIconMenuLarge"></tui-svg>
          <span></span>
        </div>
      </div>
      <tui-input
        tuiTextfieldSize="m"
      >
        Найти
        <input tuiTextfield />
      </tui-input>
    </div>
    <div class="row-cells last">
      <div class="cell">
        <div class="navbar-cell">
          <tui-svg src="tuiIconShoppingCartLarge"></tui-svg>
          <span>Корзина</span>
        </div>
      </div>
      <div class="cell">
        <div class="navbar-cell">
          <tui-svg src="tuiIconUserLarge"></tui-svg>
          <span>Войти</span>
        </div>
      </div>
    </div>
  </nav>
</div>
