.page {
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 64px;
  background-color: #FFC700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cell {
  width: 60px;
  background: transparent;

  :hover {
    background: #ffe900;
  }
}

.row-cells {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  tui-input {
    width: 375px;
  }
}

.navbar-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 5px;
  border-radius: 24%;

  span {
    text-align: center;
  }
}
